save0.sav
save0-ext.dat
save1.sav
save1-ext.dat
save2.sav
save2-ext.dat
save3.sav
save3-ext.dat
save4.sav
save4-ext.dat
save5.sav
save5-ext.dat
save6.sav
save6-ext.dat
save7.sav
save7-ext.dat
save8.sav
save8-ext.dat
save9.sav
save9-ext.dat
save10.sav
save10-ext.dat
save11.sav
save11-ext.dat
save12.sav
save12-ext.dat
save13.sav
save13-ext.dat
save14.sav
save14-ext.dat
save15.sav
save15-ext.dat
save100.sav
save100-ext.dat
exeextracted
Where SMB Attacks (Remake)/save1-ext.dat
LuaData_Save1_save.txt
LuaData_Save0_save.txt
/save10.dat
/_OST/Metroid/FLPs/SGM-V2.01.sf2
/_OST/Spencer Everly/Spencer\! The Show\!/Theme Song/SGM-V2.01.sf2
/etc
/Mario Challenge
/NSMBDS
/player-ext-test
/PortableGit
/screenFlip Demo
/Super Mario Bros. 0
/Textplus-Font-Tool-main
/the invasion 2
/WSMBA (Remake)
/yes
cliche/
Demo Stages/
2k1x Subzero Heroes/
/___MainUserDirectory/see/pfp.png
ext/
LuaData_Save3_save.txt
LuaData_Save4_save.txt
SMAS++ (Original, 2017).7z
SMAS++ (Original, 2017)/
\!README.txt
desktop.ini
LuaData_systemData.txt
README.txt
*.sfk
LuaData_Save6_save.txt
/save0_old-ext.dat
/save0_old.sav
/SMB2 - W-5, L-1/LuaData_Save7_save.txt
/_OST/Super Mario Bros/FLPs/SMAS.sf2
/_OST/Super Mario Bros/FLPs/SMAS_Extended_Ver._2.1.sf2
/map.lvlx.bak
/SMAS - Test Level.lvlx.bak
/costumes/mario/7-SML2/SML2-SomeSoundsNormalizedSEE.zip
/costumes/mario/15-NSMBDS-Original/NSMBDS-RippedAndNormalizedSoundsSEE.zip
/costumes/mario/9-SMW-Pirate/SMWNES-HalfNormalizedSEE.zip
/SMBLL - W-5, L-4.lvlx.bak
maptesting/
_commit.bat
_cleanup.bat
/costumes/mario/JCFosterTakesItToTheMoon/mario-2-head.png
/costumes/mario/SpongeBobSquarePants/mario-1-front.png
/costumes/peach/Tux/peach-2-stance.png
/costumes/toad/Imajin-NES/toad-2-stance.png
/costumes/toad/PacMan-Arrangement-PacMan/toad-2-stance.png
bfg.jar
/testfile.txt
A2XT Gaiden 2/
/progress.json
A2XT2 - Gaiden 2/
Delightful Adventure - Enhanced/
Super Mario Bros. 3 Remake - Phil/
/save0-old.sav
/save0-ext-old.dat
Vanilla Contest 2022/
Testing Grounds/
/SMB3 - W-7, L-Airship.lvlx.bak
Luigi's Lost Memories/
SMZ Febuary 15 2023, Early Afternoon/
/thefile.txt
_camelCaseSMASLibraries.bat
/___MainUserDirectory/_run-fileDirectoryVersionSpitter.bat
/___MainUserDirectory/parseFn.bat
/testfile2.txt
test.txt
progress.json
map_autosave.lvlx
decrypted_code.txt
