# Ignore save files
save*.sav
save*-ext.dat
LuaData_Save*_save.txt
LuaData_systemData.txt

# Ignore any autosave levels, world files, and .bak files
*_autosave.lvlx
*_autosave-0.lvlx
*_autosave.wldx
*.bak

# Ignore progress.json
progress.json

# Ignore all SFKs (VEGAS Pro)
*.sfk

# Ignore any old saves
/ext/oldsaves/

# Ignore dontupdate file
dontupdate

# Ignore wifi scripts
/scripts/ext/wifi/

# Ignore any other misc files
decrypted_code.txt
test.txt
testfile.txt
testfile2.txt
thefile.txt
testData.txt
